<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계산기 인공지능</h1>
    <a href="/calc"><h3>계산기</h3></a>
    <a href="/discount"><h3>할인금액 구하기</h3></a>

    <h1>재무 분석 및 보고 챗봇 개발</h1>
    <a href="/manufacture_fin_review"><h3>제조업체의 재무 보고서 검토 및 승인 시스템</h3></a>
    <a href="/finance_visuals"><h3>금융 서비스 기업의 재무 데이터 시각화 도구 및 대시보드</h3></a>
    <a href="/retail_finbot"><h3>소매업체의 재무 분석 및 보고 챗봇</h3></a>
    <h1>esg 데이터 자동 분석 플랫폼 구축</h1>
    <a href="/energy_esg_collector"><h3>에너지 산업의 esg 데이터 수집 및 저장 시스템</h3></a>
    <a href="/esg_fin_viz_analystics"><h3>금융서비스 기업의 esg 데이터 분석 및 시각화 플랫폼</h3></a>
    <a href="/manufacture_esg_reporter"><h3>제조업체의 esg 자동화된 리포트 생성 시스템</h3></a>
    <h1>esg 데이터 기반 재무영향 자동화 시스템 개발</h1>
    <a href="/retail_finance_auto"></h3>대형 소매업의 재무 데이터 수집 및 분석 자동화 시스템</h3></a>
    <a href="/build_finance_auto"><h3>건설업의 자동 재무 보고서 생성 시스템</h3></a>
    <a href="/health_care_fin_Bot"><h3>헬스케어 산업의 재무 질문 응답 챗봇 및 프론트엔드</h3></a>

    <h1>할인 계산기</h1>
    <a href="/discount"><h3>할인 계산기</h3></a>
    
</body>
</html>